body{
   background:#161a31;
   color:#caccd6;
   width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.sideNavs{
    display: block;
    margin-right: 1vw;
    background-image: linear-gradient(45deg, #bb0fe0, #00f5c0);
    
    /*border-radius:0px 10px 10px 5px;*/
    
}
.bady{
    position: relative;
}
.navbtn{
    position: fixed;
    
}
.navbtn li{
    margin: 40px;
    
    background-color: rgba(255,255,255,0.1);
    width:120px;
    border-radius:5px 5px 5px 5px;
    
}
h3{
    text-align: center;
}


.NavLinks {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    
}
.NavLinks li{
    
    margin-top: 7vh;
}
ul li a{
    display:block;
    font-family:"Montserrat";
    font-size:1em;
    transition:0.7s;
    color: #00f6c0;
    text-transform: uppercase;
    letter-spacing:1.5px;
    text-shadow: 4px 3px 7px rgba(0, 246, 192, 0.8); 
}

a{
    

}
.Pic{
    width:10vw;
    margin-left: 4vw;
}
.drp{
    margin-top: 10vh;
}
.BrandBar{
    box-shadow: 7px 0px 7px #000;
    
    position: fixed;
    width: 102%;
    z-index: 1000;
}
.Brand{
    margin-top: 25px;
    padding-left: 3vw;
    font-family:"'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif";
    color:#00f5c0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-shadow: 4px 3px 7px rgba(0, 246, 192, 0.5);

 


}

a:hover{
    text-decoration: none;
    color: #a020f0;
    text-shadow: 4px 3px 7px rgba(160, 32, 240, 0.8);
    
}



.Vertical{
    border-left: 0.2vw solid #A020f0; 
    margin-left: -1vw;
    margin-right:10px;
    
}

.CBody{

    background: transparent;
   /* min-width:30vw;
    max-width:35vw;
    min-height:20vh;
    max-height:30vh;
    width:fit-content;
    height:fit-content;*/


    max-width: 100%;
    max-height: 100%;
    height: inherit;
    margin: EdgeInsets.zero
    

}
.Rows{
   
}
Card{
    margin:EdgeInsets.zero;
}
